Pillow==9.5.0
numpy==1.25.1
pandas==2.0.3
streamlit==1.25.0
trafilatura==1.6.2
lxml==5.2.1
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/xx_sent_ud_sm-3.7.0/xx_sent_ud_sm-3.7.0.tar.gz
